@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: #1e272e;
    --main-color: #0097e6;
}
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0;
}

.main_menu {
    background-color: var(--main-bg);
}
/* .navbar { */
/* color:#fff; */
/* background-color:var(--main-bg); */
/* padding:2rem 0; */
/* } */

.navbar a {
    color: #fff;
    font-size: 1.8rem;
}
.navbar-toggler {
    background-color: grey;
}

.navbar li {
    margin-left: 2rem;
}

.navbar a:hover {
    color: var(--main-color);
}

.fa-snowflake {
    transition: all linear;
    -webkit-animation: spin 2s linear infinite;
    color: var(--main-color);
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.main_header_left {
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_left p {
    font-size: 2rem;
}

.main_header_left h1 {
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}
.main_header_right {
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_right figure img {
    /* box-shadow: 0 8px 6px -6px var(--main-color); */
    filter: drop-shadow(0 0.5rem 1rem);
}

.main_header_left .text-color {
    color: var(--main-color);
}
.main_header_left button {
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}
.main_header_left button:hover {
    box-shadow: 0 8px 6px -6px var(--main-color);
}

footer {
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}
footer p {
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 5rem;
    font-size: 1.4rem;
}

/* responsive code */

@media (max-width: 768px) {
    .main_header_left {
        height: auto;
        margin: 5rem 0;
    }
    .main_header_right {
        height: auto;
        margin-top: 3rem;
    }
}

/* error page style */

.errorimg img {
    width: 60rem;
    height: 30rem;
}
